.displayWaetherInfo {
    height: 180px;
    background-color: lightgray;
    padding: 10px;
}

body {
    text-align: center;
}

.get_weather, .current_location_weather{
    padding: 5px;
    margin: 10px;
}

html{
    background:url(weather.jpg) no-repeat center ;
    
    background-size: cover;
}